body {
  font-family: 'Segoe UI', sans-serif;
  background-image: linear-gradient(to right, #6100fd, #262629);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: 60px auto;
  padding: 100px;
  background: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 95px;
  height: 95px;
  border-radius: 10px;
  margin-right: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

h1 {
  color: #444;
  font-size: 1.8rem;
  font-weight: bold;
}

#buscar {
  width: 95%;
  padding: 20px 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: border-color 0.3s;
  margin-top: 5%;
}

#buscar:focus {
  outline: none;
  border-color: #329c2f;
}

#resultados > div {
  background-color: #f0f0ff;
  padding: 12px 16px;
  margin: 8px 0;
  border-left: 5px solid #1e258b;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

#resultados > div:hover {
  background-color: #e4e4ff;
}

h2 {
  margin-top: 30px;
  color: #333;
}

#lista {
  list-style: none;
  padding: 0;
}

#lista li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.volver-menu {
  margin-left: 26.3rem;
}

.btn-volver {
  background-color: #8a1f8a;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 2 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

.btn-volver:hover {
  background-color: #6f1a6f;
}

@keyframes rebote {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-6px); }
  100% { transform: translateY(0); }
}

.btn-volver:hover {
  animation: rebote 0.4s ease;
}
